{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}

{# Set cover_image_background_url and cover_image_caption based on metadata #}
{% set cover_image_background_url = THUMBOR_SERVICE + "/unsafe/1500x0/" + article.cover_image_url|urlencode() %}
{% if article.cover_image_by and article.cover_image_link %}
    {% set cover_image_caption = "Image by <a href=\"" + article.cover_image_link + "\">" + article.cover_image_by + "</a>" %}
{% endif %}

{% block content %}
<main class="container">
    <div class="row">
        {% block sidebar %}
        <div class="col-12 col-md-4 order-md-2 tdwg-sidebar-secondary">
        </div>
        {% endblock %}
        
        <div class="col-12 col-md order-md-1">
            <section>
                <h1>{{ article.title }}</h1>

                <p class="text-lowercase">
                {% for tag in article.tags %}
                    <span class="badge badge-pill badge-light tdwg-tag">{{ tag }}</span>
                {% endfor %}
                </p>

                {% if article.summary %}
                    <div class="lead">
                        {{ article.summary }}
                    </div>
                {% endif %}

                <figure>
                    <div style="background-image: url('{{ cover_image_background_url }}')"></div>
                    {% if cover_image_caption %}
                        <figcaption>{{ cover_image_caption }}</figcaption>
                    {% endif %}
                </figure>
            </section>

            <section>
                {{ article.content }}
            </section>

            <section>
                <div class="text-center">
                    <a class="btn btn-outline-secondary" href="{{ article.github_edit_url }}">Edit this article on GitHub</a>
                </div>
            </section>
        </div>
    </div>
</main>
{% endblock %}
