{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}

{# Set cover_image_background_url and cover_image_caption based on metadata #}
{% set cover_image_background_url = THUMBOR_SERVICE + "/unsafe/1500x0/" + article.cover_image_url|urlencode() %}
{% if article.cover_image_by and article.cover_image_ref %}
    {% set cover_image_caption = "Image by <a href=\"" + article.cover_image_ref + "\">" + article.cover_image_by + "</a>" %}
{% endif %}

{% block content %}
<figure>
    <div class="jumbotron jumbotron-fluid" style="background-image: url('{{ cover_image_background_url }}');"></div>
    <figcaption>{{ cover_image_caption }}</figcaption>
</figure>

<main class="container">
    <nav class="d-flex justify-content-between small">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ SITEURL }}"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item"><a href="{{ SITEURL }}/{{ PAGE_LINKS['news'] }}">News</a>
            <li class="breadcrumb-item active">{{ article.title }}</li>
        </ol>

        <a href="{{ article.github_edit_url }}"><i class="fa fa-pencil"></i> Edit this article</a>
    </nav>
    
    <div class="row">
        <div class="col-12 col-md-3 order-md-2 tdwg-sidebar-primary">
            <button class="btn d-md-none w-100" type="button" data-toggle="collapse" data-target="#tdwg-sidebar-nav">
                <i class="fa fa-bars fa-lg"></i>
            </button>

            <nav class="collapse" id="tdwg-sidebar-nav">
            {{ article.toc }}
            </nav>
        </div>

        <div class="col-12 col-md-9 order-md-1">
            <h1>{{ article.title }}{% if article.status == "draft" %} <span class="badge badge-danger">draft</span>{% endif %}</h1>

            <p><time>{{ article.locale_date }}</time></p>

            <p>
            {% for tag in article.tags %}
                <span class="badge badge-pill badge-light tdwg-tag">{{ tag }}</span>
            {% endfor %}
            </p>

            <div class="lead">
                {% if article.has_summary %}{{ article.summary }}{% endif %}
            </div>

            <div>
                {{ article.content }}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            $("#tdwg-sidebar-nav ul").addClass("nav flex-column");
            $("#tdwg-sidebar-nav li").addClass("nav-item");
            $("#tdwg-sidebar-nav a").addClass("nav-link");
        });
    </script>
{% endblock %}
