{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% if article.description %}
        <meta name="description" content="{{article.description}}" />
    {% endif %}

    {% for tag in article.tags %}
        <meta name="tags" content="{{tag}}" />
    {% endfor %}
{% endblock %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<article class="entry">
    <header>
        <h2 class="entry-title">
            {{ article.title }}
        </h2>
    </header>
    <footer class="post-info">
        <time class="published" datetime="{{ article.date.isoformat() }}">
            {{ article.locale_date }}
        </time>
        {% if article.modified %}
            <time class="modified" datetime="{{ article.modified.isoformat() }}">
                {{ article.locale_modified }}
            </time>
        {% endif %}

        <address class="vcard author">
        {% for author in article.authors %}
            <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
        {% endfor %}
        </address>
    </footer>
    <div class="entry-content">
        {{ article.content }}
    </div>
</article>
{% endblock %}
