<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Metadata -->
        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
        <meta name="description" content="{{ SITEDESCRIPTION }}">
        <meta name="author" content="{{ AUTHOR }}">
        
        <!-- CSS -->
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css">

        <!-- Feeds -->
        {% if FEED_ALL_ATOM %}
            <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" title="{{ SITENAME }} Atom feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
            <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" title="{{ SITENAME }} RSS feed" />
        {% endif %}
    {% endblock%}    
    </head>

    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark flex-column flex-md-row tdwg-navbar">
            <div class="container">
                <a class="navbar-brand mr-2" href="{{ SITEURL }}/">{{ SITENAME }}</a>
                <div class="tdwg-navbar-nav-container">
                    <ul class="navbar-nav flex-row">
                    {% if DISPLAY_PAGES_ON_MENU %}
                        {% for page_0 in pages|sort(attribute="page_order") %}
                            {% if page_0.parent == None %} {# Top level page #}
                                <li class="nav-item">
                                    <a class="nav-link{% if (page and page.status != 'hidden') and (page == page_0 or page.parents[0] == page_0) %} active{% endif %}" href="{{ SITEURL }}/{{ page_0.url }}">{{ page_0.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if MENUITEMS %}
                        {% for title, link in MENUITEMS %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ link }}">{{ title }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    </ul>
                </div>
                <ul class="navbar-nav flex-row d-none d-md-flex ml-md-auto">
                    {% if page or article %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% if page %}{{ page.github_edit_url }}{% else %}{{ article.github_edit_url }}{% endif %}"><i class="fa fa-github"></i> Edit on GitHub</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row flex-xl-nowrap">
            {% block content %}
            {% endblock %}
            </div>
        </div>
        
        {% block javascript %}
            <!-- First jQuery, then Popper.js, then Bootstrap JS -->
            <script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
            <script src="{{ SITEURL }}/theme/js/popper.min.js"></script>
            <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
