{% extends "base.html" %}

{# Set jumbotron_background_image and caption based on metadata #}
{% if page.cover_image %}
    {% if page.cover_image.startswith("http") %}
        {% set jumbotron_background_image = "background-image: url('" + page.cover_image + "')" %}
    {% else %}
        {% set jumbotron_background_image = "background-image: url('" + SITEURL + "/static/cover_images/" + page.cover_image + "')" %}
    {% endif %}
    {% if page.cover_image_ref and page.cover_image_by %}
        {%set jumbotron_caption = '<a href="' + page.cover_image_ref + '">Image</a> by ' + page.cover_image_by %}
    {% endif %}
{% else %}
    {% set jumbotron_background_image = "" %}
{% endif %}

{# Get top parent (page_0) #}
{% if page.parent == None or page.status == "hidden" %}
    {% set page_0 = page %}
{% else %}
    {% set page_0 = page.parents[0] %}
{% endif %}

{# Blocks #}
{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <div class="col-12 tdwg-main">
        <div class="jumbotron tdwg-jumbotron" style="{{ jumbotron_background_image }}">
            <h1>{{ page.title }}</h1>
            <p class="tdwg-tags">
            {% for tag in page.tags %}
                <span class="badge badge-pill badge-light">{{ tag }}</span>
            {% endfor %}
            </p>
        </div>
        {% if jumbotron_caption %}
            <p class="tdwg-jumbotron-caption">{{ jumbotron_caption }}</p>
        {% endif %}

        <div class="tdwg-page-content">
            {% if page.intro %}
                <p class="lead">{{ page.intro }}</p>
            {% endif %}

            {{ page.content }}
        </div>
    </div>
{% endblock %}
