{% extends "base.html" %}

{% block title %}News - {{ SITENAME }} {% endblock %}

{% block content %}
<main class="container">
    <div class="row">
        {% block sidebar %}
        <div class="col-12 col-md-3 order-md-2 theme-sidebar-secondary">
            <button class="btn d-md-none w-100" type="button" data-toggle="collapse" data-target="#theme-sidebar-nav">
                <i class="fa fa-bars fa-lg"></i>
            </button>

            {% include "includes/nav_archive.html" %}
        </div>
        {% endblock %}

        <div class="col-12 col-md order-md-1">
            <h1>News</h1>

            {% for article in articles_page.object_list %}
                {% include "includes/article_in_index.html" %}
            {% endfor %}

            {% if articles_page.has_other_pages() %}
                {% include "includes/pagination.html" %}
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
