{% extends "base.html" %}

{% block title %}News - {{ SITENAME }} {% endblock %}

{% block content %}
<figure>
    <div class="jumbotron jumbotron-fluid" style="background-image: url('');"></div>
    <figcaption></figcaption>
</figure>

<main class="container">
    <div class="row">
        {% block sidebar %}
        <div class="col-12 col-md-4 order-md-2 tdwg-sidebar-secondary">
            <button class="btn d-md-none w-100" type="button" data-toggle="collapse" data-target="#tdwg-sidebar-nav">
                <i class="fa fa-bars fa-lg"></i>
            </button>

            {% include "archive_nav.html" %}
        </div>
        {% endblock %}

        <div class="col-12 col-md order-md-1">
            <h1>News</h1>

            {% for article in articles_page.object_list %}
                {% include "article_in_index.html" %}
            {% endfor %}

            {% if articles_page.has_other_pages() %}
                {% include "pagination.html" %}
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
