{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ SITENAME }}{% endblock %}

{# Set cover_image_background_url and cover_image_caption based on metadata #}
{% set cover_image_background_url = THUMBOR_SERVICE + "/unsafe/1500x0/" + page.cover_image_url|urlencode() %}
{% if page.cover_image_by and page.cover_image_link %}
    {% set cover_image_caption = "Image by <a href=\"" + page.cover_image_link + "\">" + page.cover_image_by + "</a>" %}
{% endif %}

{% block content %}
<figure>
    <div class="jumbotron jumbotron-fluid" style="background-image: url('{{ cover_image_background_url }}');"></div>
    <figcaption>{{ cover_image_caption }}</figcaption>
</figure>

<main class="container">
    <nav class="d-flex justify-content-between small">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ SITEURL }}"><i class="fa fa-home"></i></a></li>
            {% for parent in page.parents %}
            <li class="breadcrumb-item"><a href="{{ SITEURL }}/{{ parent.url }}">{{ parent.title }}</a></li>
            {% endfor %}
            <li class="breadcrumb-item active">{{ page.title }}</li>
        </ol>

        <a href="{{ page.github_edit_url }}"><i class="fa fa-pencil"></i> Edit this page</a>
    </nav>

    <h1>{{ page.title }}</h1>

    <div class="lead">
        {% if page.has_summary %}{{ page.summary }}{% endif %}
    </div>

    <div>
        {{ page.content }}
    </div>

    {% for tag in page.tags %}
        {# Create a list of pages having a certain "tag", excluding page_index pages #}
        {% set tag_pages = [] %}
        {% for p in pages|sort(attribute="page_order") if tag in p.tags and p.template != "page_index" %}
            {% set tag_pages = tag_pages.append(p) %}
        {% endfor %}

        <h2>{{ tag }}s</h2>
        {% for row in tag_pages|batch(3) %}
            <div class="row">
            {% for subpage in row %}
                <div class="col-sm-4 d-flex align-items-stretch">
                    <div class="card bg-light">
                        <a href="{{ SITEURL }}/{{ subpage.url }}">
                        <img class="card-img-top" src="{{ THUMBOR_SERVICE + '/unsafe/900x300/' + subpage.cover_image_url|urlencode() }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ subpage.title }}</h5>
                        </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    {% endfor %}
</main>
{% endblock %}
