{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ SITENAME }}{% endblock %}

{# Set cover_image_background_url and cover_image_caption based on metadata #}
{% set cover_image_background_url = THUMBOR_SERVICE + "/unsafe/1500x0/" + page.cover_image_url|urlencode() %}
{% if page.cover_image_by and page.cover_image_ref %}
    {% set cover_image_caption = "Image by <a href=\"" + page.cover_image_ref + "\">" + page.cover_image_by + "</a>" %}
{% endif %}

{% set tag_sections = [] %}
{% if page.tag_sections %}
    {% set tag_sections = page.tag_sections.split(", ") %}
{% endif %}

{% block content %}
<figure>
    <div class="jumbotron jumbotron-fluid" style="background-image: url('{{ cover_image_background_url }}');"></div>
    <figcaption>{{ cover_image_caption }}</figcaption>
</figure>

<main class="container">
    <nav class="d-flex justify-content-between small">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ SITEURL }}"><i class="fa fa-home"></i></a></li>
            {% for parent in page.parents %}
            <li class="breadcrumb-item"><a href="{{ SITEURL }}/{{ parent.url }}">{{ parent.title }}</a></li>
            {% endfor %}
            <li class="breadcrumb-item active">{{ page.title }}</li>
        </ol>

        <a href="{{ page.github_edit_url }}"><i class="fa fa-pencil"></i> Edit this page</a>
    </nav>

    <div class="row">
        <div class="col-md-3 order-md-2 theme-sidebar-primary">
            <button class="btn d-md-none w-100" type="button" data-toggle="collapse" data-target="#theme-sidebar-nav">
                <i class="fa fa-bars fa-lg"></i>
            </button>

            <nav class="collapse" id="theme-sidebar-nav">
                {{ page.toc }}

                <ul>
                    {% for tag in tag_sections %}
                    <li>
                        <a href="#{{ tag|replace(' ','-')|lower()|urlencode() }}">{{ tag }}s</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>

            <h1>{{ page.title }}</h1>

            <div class="lead">
                {% if page.has_summary %}{{ page.summary }}{% endif %}
            </div>

            <div>
        <div class="col-md-9 order-md-1">
                {{ page.content }}
            </div>

            {% for tag in tag_sections %}
                {# Create a list named of pages having a certain "tag" #}
                {% set tag_pages = [] %}
                {% for p in pages|sort(attribute="page_order") if tag in p.tags %}
                    {% set tag_pages = tag_pages.append(p) %}
                {% endfor %}

                <h2 id="{{ tag|replace(' ','-')|lower()|urlencode() }}">{{ tag }}s</h2>
                {% for row in tag_pages|batch(3) %}
                    <div class="row theme-card-deck">
                    {% for subpage in row %}
                        <div class="col-sm-4">
                            <div class="card bg-light">
                                <a href="{{ SITEURL }}/{{ subpage.url }}">
                                <img class="card-img-top" src="{{ THUMBOR_SERVICE + '/unsafe/900x300/' + subpage.cover_image_url|urlencode() }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ subpage.title }}</h5>
                                </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
