{% extends "base.html" %}

{# Set cover_image_url and caption based on metadata #}
{% if page.cover_image %}
    {% if page.cover_image.startswith("http") %}
        {% set cover_image_url = page.cover_image %}
    {% else %}
        {% set cover_image_url = SITEURL + "/static/cover_images/" + page.cover_image %}
    {% endif %}
    {% if page.cover_image_ref and page.cover_image_by %}
        {%set cover_image_caption = "<a href=\"" + page.cover_image_ref + "\">Image</a> by " + page.cover_image_by %}
    {% endif %}
{% endif %}

{# Get top parent (page_0) #}
{% if page.parent == None or page.status == "hidden" %}
    {% set page_0 = page %}
{% else %}
    {% set page_0 = page.parents[0] %}
{% endif %}

{# Blocks #}
{% block title %}{{ page.title }}{% endblock %}

{% block navigation %}
    <ul class="nav flex-column">
    {# Level 1: top level #}
    {% for page_1 in pages|sort(attribute="page_order") %}
    {% if page_1.parent == None %}
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-between{% if page_1 == page %} active{% endif %}{% if page_1 in page.parents %} active-parent{% endif %}" href="{{ SITEURL }}/{{ page_1.url }}">
                {{ page_1.title }}
                {% if page_1.children %}
                    <span class="align-self-center">
                        <i class="fa fa-chevron-down"></i>
                        <i class="fa fa-chevron-right"></i>
                    </span>
                {% endif %}
            </a>
            
            {# Level 2 #}
            {% if page_1.children %}
                <ul class="nav">
                {% for page_2 in page_1.children|sort(attribute="page_order") %}
                    <li class="nav-item">
                        <a class="nav-link d-flex justify-content-between{% if page_2 == page %} active{% endif %}{% if page_2 in page.parents %} active-parent{% endif %}" href="{{ SITEURL }}/{{ page_2.url }}">
                            {{ page_2.title }}
                            {% if page_2.children %}
                                <span class="align-self-center">
                                    <i class="fa fa-chevron-right"></i>
                                    <i class="fa fa-chevron-down"></i>
                                </span>
                            {% endif %}
                        </a>

                        {# Level 3 #}
                        {% if page_2.children %}
                            <ul class="nav">
                            {% for page_3 in page_2.children|sort(attribute="page_order") %}
                                <li class="nav-item">
                                    <a class="nav-link{% if page_3 == page %} active{% endif %}{% if page_3 in page.parents %} active-parent{% endif %}" href="{{ SITEURL }}/{{ page_3.url }}">
                                        {{ page_3.title }}

                                        {# Levels beyond 3 are not shown/supported in this template. #}
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endif %}
    {% endfor %}
    </ul>
{% endblock %}


{% block content %}
        <a href="#" class="float-right">Edit on GitHub</a>

        <h1>{{ page.title }}</h1>
        
        <p class="tdwg-tags">
        {% for tag in page.tags %}
            <span class="badge badge-pill badge-light">{{ tag }}</span>
        {% endfor %}
        </p>

        {% if page.intro %}
            <p class="lead">{{ page.intro }}</p>
        {% endif %}

        {% if page.cover_image %}
            <figure class="tdwg-cover-image">
                <div style="background-image: url('{{ cover_image_url }}')"></div>
                {% if cover_image_caption %}
                    <figcaption>{{ cover_image_caption }}</figcaption>
                {% endif %}
            </figure>
        {% endif %}

        <div class="tdwg-page-content">
            {% if page.github %}
                <a class="btn btn-lg btn-primary mb-4" href="{{ page.github }}">Find us on GitHub</a>
            {% endif %}

            {{ page.content }}
        </div>
{% endblock %}
