{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ SITENAME }}{% endblock %}

{# Set cover_image_background_url and cover_image_caption based on metadata #}
{% set cover_image_background_url = THUMBOR_SERVICE + "/unsafe/1500x0/" + page.cover_image_url|urlencode() %}
{% if page.cover_image_by and page.cover_image_ref %}
    {% set cover_image_caption = "Image by <a href=\"" + page.cover_image_ref + "\">" + page.cover_image_by + "</a>" %}
{% endif %}

{# Find position of subpages marker in page.content, so this can be displayed as: content, subpages, content #}
{% set subpages_position = page.content.find(SUBPAGES_MARKER) if SUBPAGES_MARKER is defined else -1 %}

{% block content %}
<figure>
    <div class="jumbotron jumbotron-fluid" style="background-image: url('{{ cover_image_background_url }}');"></div>
    <figcaption>{{ cover_image_caption }}</figcaption>
</figure>

<main class="container">
    <nav class="d-flex justify-content-between small">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ SITEURL }}"><i class="fa fa-home"></i></a></li>
            {% for parent in page.parents %}
            <li class="breadcrumb-item"><a href="{{ SITEURL }}/{{ parent.url }}">{{ parent.title }}</a></li>
            {% endfor %}
            <li class="breadcrumb-item active">{{ page.title }}</li>
        </ol>

        <a href="{{ page.github_edit_url }}"><i class="fa fa-pencil"></i> Edit this page</a>
    </nav>

    <div class="row">
        <div class="col-12 col-md-3 order-md-2 theme-sidebar-primary">
            <button class="btn d-md-none w-100" type="button" data-toggle="collapse" data-target="#theme-sidebar-nav">
                <i class="fa fa-bars fa-lg"></i>
            </button>

            <nav class="collapse" id="theme-sidebar-nav">
                {{ page.toc }}
            </nav>
        </div>

        <div class="col-12 col-md-9 order-md-1">
            <h1>{{ page.title }}</h1>

            <p>
            {% for tag in page.tags %}
                <span class="badge badge-pill badge-light theme-tag">{{ tag }}</span>
            {% endfor %}
            </p>

            <div class="lead">
                {% if page.has_summary %}{{ page.summary }}{% endif %}
            </div>

            <p>
            {% if page.github %}
                <a class="btn btn-lg btn-primary" href="{{ page.github }}"><i class="fa fa-github fa-fw"></i> Find us on GitHub</a>
            {% endif %}
            </p>

            <div>
                {{ page.content[0:subpages_position] }}
            </div>
            
            {% for row in page.children|sort(attribute="page_order")|batch(3) %}
                <div class="row theme-card-deck">
                {% for subpage in row %}
                    <div class="col-sm-4">
                        <div class="card bg-light">
                            <a href="{{ SITEURL }}/{{ subpage.url }}">
                            <img class="card-img-top" src="{{ THUMBOR_SERVICE + '/unsafe/900x300/' + subpage.cover_image_url|urlencode() }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ subpage.title }}</h5>
                            </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}

            {% if subpages_position != -1 %}
            <div>
                {{ page.content[subpages_position + subpages_marker|length:] }}
            </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
