{% if DEFAULT_PAGINATION %}
<nav>
    <ul class="pagination justify-content-center">
    {% if articles_page.has_previous() %}
        <li class="page-item">
            <a class="page-link" href="{{ SITEURL }}/{{ articles_previous_page.url }}"><i class="fa fa-chevron-circle-left"></i></a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <span class="page-link"><i class="fa fa-chevron-circle-left"></i></span>
        </li>
    {% endif %}
        <li class="page-item disabled">
            <span class="page-link">{{ articles_page.number }} of {{ articles_paginator.num_pages }}</span>
        </li>
    {% if articles_page.has_next() %}
        <li class="page-item">
            <a class="page-link" href="{{ SITEURL }}/{{ articles_next_page.url }}"><i class="fa fa-chevron-circle-right"></i></a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <span class="page-link"><i class="fa fa-chevron-circle-right"></i></span>
        </li>
    {% endif %}
    </ul>
</nav>
{% endif %}
