{% extends "base.html" %}

{% block title %}News in {{ period[0] }} - {{ SITENAME }} {% endblock %}

{% block content %}
<main class="container">
    <div class="row">
        {% block sidebar %}
        <div class="col-12 col-md-4 order-md-2 tdwg-sidebar-secondary">
            <button class="btn d-md-none w-100" type="button" data-toggle="collapse" data-target="#tdwg-sidebar-nav">
                <i class="fa fa-bars fa-lg"></i>
            </button>

            {% include "includes/archive_nav.html" %}
        </div>
        {% endblock %}

        <div class="col-12 col-md order-md-1">
            <h1>News in {{ period | reverse | join(' ') }}</h1>

            {% for article in dates %}
                {% include "includes/article_in_index.html" %}
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
