{% extends "base.html" %}

{% block title %}News in {{ period | reverse | join(' ') }} - {{ SITENAME }} {% endblock %}

{% block content %}
<main class="container">
    <div class="row">
        {% block sidebar %}
        <div class="col-12 col-md-4 order-md-2 tdwg-sidebar-secondary">
        </div>
        {% endblock %}

        <div class="col-12 col-md order-md-1">
        <h1>News in {{ period | reverse | join(' ') }}</h1>

        {% for article in dates %}
            {% include "article_in_index.html" %}
        {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
