{% extends "base.html" %}

{% block title %}Search - {{ SITENAME }}{% endblock %}

{% block content %}
<main class="container">
{% if "tipue_search" in PLUGINS %}
    <section>
        <form action="search.html">
            <input class="form-control form-control-lg" type="text" placeholder="Search" name="q" id="tipue_search_input">
        </form>
    </section>
    <section>
        <div id="tipue_search_content"></div>
    </section>
{% else %}
    <p>Search requires the Pelican plugin <a href="https://github.com/getpelican/pelican-plugins/tree/master/tipue_search">tipue_search</a>, which is not enabled.</p>
{% endif %}
</main>
{% endblock %}

{% block javascript %}
{{ super() }}
<script src="{{ SITEURL }}/theme/js/tipuesearch_set.js"></script>
<script src="{{ SITEURL }}/theme/js/tipuesearch.min.js"></script>
<script>
    $(document).ready(function() {
        $("#tipue_search_input").tipuesearch({
            "mode": "json",
            "contentLocation": "{{ SITEURL }}/tipuesearch_content.json",
            "show": 10,
            "showURL": false,
            "showTime": false
        });
    });

    function add_bootstrap_style() {
        // Add bootstrap pagination classes to tipue_search_foot_boxes
        // tipuesearch.min.js was updated to call this function at the end of getTipueSearch()
        $("ul#tipue_search_foot_boxes").addClass("pagination justify-content-center");
        $("ul#tipue_search_foot_boxes > li").addClass("page-item");
        $("ul#tipue_search_foot_boxes > li.current").addClass("page-item disabled").wrapInner("<span class='page-link'></span>");
        $("a.tipue_search_foot_box").addClass("page-link");
    }    

</script>
{% endblock %}