// Main SASS file for TDWG theme

@import "variables"; // Custom variables and overwrites for Bootstrap variables 
@import "../../node_modules/bootstrap/scss/bootstrap"; // Bootstrap scss

body {
    word-wrap: break-word; // Wrap long content (e.g. long URLs), so it does not break out of container
    hyphens: auto; // Try to hyphenate wrapped words
}

.tdwg-jumbotron {
    // background-image: applied in page.html template
    background-color: $jumbotron-bg;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    text-align: center;
    }
    .tdwg-jumbotron h1 {
        color: $white;
        padding: 0.25rem 1rem;
        text-shadow: 1px 1px 3px rgba($jumbotron-bg, 0.75);
    }
    .tdwg-jumbotron-caption {
        color: $gray-600;
        font-size: 0.8rem;
        text-align: right;
        }
        .tdwg-jumbotron-caption a {
            color: $body-color;
        }

.tdwg-first-p-lead p:first-of-type { // Apply css of .lead class to first paragraph
    font-size: $lead-font-size;
    font-weight: $lead-font-weight;
}
